* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(182, 202, 207);
}

.logo_oculto {
    display: none;
    width: 500px;
    height: 500px;
    position: relative;
    left: 400px;
    top: 150px;
}

header {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    gap: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
}


label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    position: absolute;
    left: 20px;
    transition: all .3s ease-in-out;
    top: 0;
}

input {
    padding: .5rem 1rem;
    border: none;
    border-bottom: solid 1px #494b4b;
    font-family: 'Times New Roman', Times, serif;
}

input:focus-within {
    outline: none;
    border-bottom: solid 1px #186584;
}

input:focus-within~label,
input:valid~label {
    top: -20px;
    font-size: 15px;
    left: 0;
}

button {
    padding: 1rem 0.5rem;
    border-radius: 100px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-color: #186584;
    color: white;
    font-size: medium;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.7);
}

button:hover {
    background-color: #001F3F;
    transition: background-color .3s ease-in-out;

}

.iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);

}

.formulario {
    max-width: 1440px;
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    margin-top: 120px;
}

.columna_uno {
    background-color: white;
    height: 100%;
    width: 400px;
    min-height: 1rem;
    padding: 1rem 2rem;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.columna_uno img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.columna_dos {
    background-color: #186584;
    height: 100%;
    width: 400px;
    min-height: 1rem;
    padding: 1rem 2rem;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.columna_dos input {
    background-color: transparent;
    border-color: white;
    color: white;

}

.columna_dos label {
    color: white;

}

.columna_dos button {
    border: solid 2px white;

}

.columna_dos button:hover {
    background-color: white;
    color: #19473B;
}

.nombre,
.contrasena,
.nombre-registro,
.email,
.password,
.number {
    display: flex;
    flex-direction: column;
    position: relative;
}

.menu_opciones {
    display: none;
    margin-top: 120px;
    gap: 2rem;
}

.informacion {
    display: none;
    width: 600px;
    background-color: #186584;
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.9);
    color: white;
}

.form_uno {
    display: none;
    flex-direction: column;
    width: 200px;
    gap: 5rem;
    margin-left: 200px;
}

.hiden {
    display: none;
}

.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #186584;
    text-align: center;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}

select {
    background-color: #186584;
}

span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: white;
}